@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%)
        /* (with 75% opacity for lightbox background) */
}

body {
    font-family: 'Kumbh Sans', sans-serif;

}

.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--White);
    z-index: 0;
}

.overlay:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.container {
    padding-inline: 12.5%;
}

header {
    height: 100px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--Grayish-blue);
}

.menu-icon {
    margin: 0 15px 0 25px;
}

.navigation-container img,
.navigation-container nav {
    display: inline-block;
    vertical-align: middle;
}

.navigation-container nav {
    margin-left: 30px;
}

.navigation-container nav a {
    margin: 0 25px;
    color: var(--Dark-grayish-blue);
    display: inline-block;
    position: relative;
}

.navigation-container nav a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -38px;
    left: 0;
    background-color: var(--orange);
    transform-origin: bottom center;
    transition: transform 0.2s ease;
}

.navigation-container nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

ul {
    display: flex;
    gap: 30px;
}

ul li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
}

.avatar:hover {
    border: 2px solid var(--orange);
}

main {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.product {
    overflow: hidden;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
}

.product-img {
    height: 30rem;
    width: 90%;
}

.product-img img {
    height: 100%;
    width: 100%;
    border-radius: .6em;
}

.product-next-imgs {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.next-img {
    width: 20%;
    border-radius: .6em;
    overflow: hidden;
    position: relative;
    transition: .5s ease;
    cursor: pointer;
}

.product-thumbnail {
    width: 100%;
    height: 100%;
}

.active {
    border: 2px solid var(--orange);
}

.active img {
    opacity: .5;
}

.product-info {
    width: 50%;
    height: 35rem;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-company {
    font-size: 1.1em;
    color: var(--orange);
    letter-spacing: 1.5px;
    padding-bottom: 20px;
}

.product-name {
    font-size: 2.5em;
    color: var(--Very-dark-blue);
    margin-bottom: 40px;
}

.product-description {
    color: var(--Dark-grayish-blue);
    margin-bottom: 30px;
}

.price {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.7em;
    padding-bottom: 10px;
    font-weight: bold;
}

.discount {
    font-size: .6em;
    background-color: var(--pale-orange);
    color: var(--orange);
    padding: 4px 6px;
    margin-left: 15px;
    border-radius: 3px;
}

.old-price {
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
    margin-bottom: 50px;
}

.quantity {
    display: flex;
}

.quantity-input {
    display: flex;
    justify-content: space-between;
    float: left;
    width: 32%;
    font-size: 1em;
    background-color: var(--Light-grayish-blue);
    border-radius: 7px;
}

.quantity-input .operator,
.quantity-input p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 50px;
    padding: 3px;
    font-weight: bold;
}

.operator {
    cursor: pointer;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    height: 50px;
    padding: 3px;
    background-color: var(--orange);
    color: var(--White);
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease;
}

.quantity button {
    width: 68%;
    margin-left: 20px;
}

.quantity button span {
    padding-right: 30px;
}

.basket-summary {
    position: absolute;
    background-color: var(--White);
    border-radius: .5em;
    box-shadow: -1px 8px 16px 0px rgba(0, 0, 0, 0.6);
    right: 140px;
    top: 90px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: .5em;
}

.basket-summary.visible {
    display: flex;
}

.cart-heading {
    line-height: 50px;
    padding: 2px 0 3px 5%;
    border-bottom: 1px solid var(--Grayish-blue);
}

.item-desc {
    display: flex;
    width: 90%;
    margin: 20px auto 0 auto;
}

.empty-cart {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Dark-grayish-blue);
}

.summary-img {
    width: 15%;
    overflow: hidden;
    margin-right: 10px;
}

.summary-img img {
    width: 100%;
    border-radius: .6em;
}

.summary-writeup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.summary-writeup p {
    padding: 2px;
    color: var(--Dark-grayish-blue);
}

.summary-writeup p b {
    color: var(--Black);
}

.bin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout-btn {
    width: 90%;
    margin: 15px auto 20px auto;
}

.add-btn:hover {
    background-color: var(--pale-orange);
}